body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 2em;
    margin: 30px auto;
    width: 900px;
}

body b {
    font-weight: 900;
    color: crimson;
}

#sign {
    bottom: 0;
    position: fixed;
    color: wheat;
}